<header>
  <h1 >Welcome to Makunudhoo School</h1>
  <nav>
    <ul>
          <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
          <li><a routerLink="/about" >About Us</a></li>
          <li><a routerLink="/admissions" >Admissions</a></li>
          <li><a routerLink="/academics" >Academics</a></li>
          <li><a routerLink="/classes" >Classes</a></li>
          <li><a routerLink="/facilities" >Facilities</a></li>
          <li><a routerLink="/events" >Events</a></li>
          <li><a routerLink="/gallery" >Gallery</a></li>
          <li><a routerLink="/contact" >Contact Us</a></li>
      </ul>
  </nav>
</header>
<main>
  <router-outlet />
</main>
<footer>
  <p>&copy; 2023 Makunudhoo School. All rights reserved.</p>
</footer>
